<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>
		<SMTP name="Mail" subject="Error Log" to="artut.kalach@gmail.com"
			from="pojasoriona@gmail.com" smtpHost="smtp.gmail.com" smtpPassword="misterion10110"
			smtpUsername="pojasoriona@gmail.com" smtpProtocol="smtps" smtpPort="465"
			bufferSize="1000">
		</SMTP>


		<JDBC name="databaseAppender" tableName="dbo.logs">
			<ConnectionFactory
				class="com.orion10110.training.managertaxi.services.util.ConnectionFactory"
				method="getDatabaseConnection" />
			<Column name="DATED" isEventTimestamp="true" />
			<Column name="LEVEL" pattern="%level" />
			<Column name="LOGGER" pattern="%logger" />
			<Column name="MESSAGE" pattern="%msg%n" />

		</JDBC>
	</Appenders>

	<Loggers>
		<Logger level="info" name="com.orion10110.training.managertaxi"
			>
			<AppenderRef ref="Console" />
			<AppenderRef ref="RollingFile" />
			<AppenderRef ref="databaseAppender" />
		</Logger>
		<Logger level="error" name="com.orion10110.training.managertaxi"
		>
			<AppenderRef ref="Mail" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
			 <AppenderRef ref="databaseAppender" /> <AppenderRef ref="Mail" /> 
		</Root>



	</Loggers>



</Configuration>