<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<!-- <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} 
				- %msg%n" /> -->
			<PatternLayout pattern="%d{ABSOLUTE} %5p %c{1}:%L - %m%n" />
		</Console>

		<RollingFile name="RollingFile" fileName="logs/app.log"
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="250 MB" />
			</Policies>
		</RollingFile>
		<SMTP name="Mail" subject="Error Log" to="artut.kalach@gmail.com"
			from="pojasoriona@gmail.com" smtpHost="smtp.gmail.com" smtpPassword="Misterion10110"
			smtpUsername="pojasoriona@gmail.com" smtpPort="465" bufferSize="10">
		</SMTP>

		<JDBC name="databaseAppender" tableName="dbo.logs">
			<ConnectionFactory
				class="com.orion10110.training.managertaxi.services.util.ConnectionFactory"
				method="getDatabaseConnection" />
			<Column name="DATED" isEventTimestamp="true" />
			<Column name="LEVEL" pattern="%level" />
			<Column name="LOGGER" pattern="%logger" />
			<Column name="MESSAGE" pattern="%msg%n" />
			<!-- <Column name="exception" pattern="%ex{full}" /> -->
		</JDBC>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="databaseAppender" />
			<AppenderRef ref="Mail" />
		</Root>

		<!-- <Logger level="info" name="com.orion10110.training.managertaxi" additivity="false"> 
			<AppenderRef ref="Console" /> <AppenderRef ref="RollingFile" /> </Logger> 
			<Logger level="error" name="com.orion10110.training.managertaxi" additivity="false"> 
			<AppenderRef ref="Console" /> <AppenderRef ref="SMTPAppender" /> </Logger> 
			<logger level="error" name="com.orion10110.training.managertaxi" additivity="false"> 
			<AppenderRef ref="Console" /> <appender-ref ref="databaseAppender" /> </logger> -->
	</Loggers>



</Configuration>